[run]
branch = True

[paths]
source =
	yews
	/**/site-packages/yews

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise ModuleNotFoundError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    except ModuleNotFoundError:
